Lists and Tuples in Python
Estimated time needed: 30 minutes

Objectives
After completing this lab you will be able to:

Perform list operations in Python, including indexing, list manipulation, and copy/clone list.
Perform the basics tuple operations in Python, including indexing, slicing and sorting

In [190]:
 '1'+'2'

'12'

In [191]:
myvar = 'hello'
myvar.upper()

'HELLO'

In [192]:
str(1+1)

'2'

In [193]:
"123".replace("12", "ab")

'ab3'

In [194]:
x=2/2 
type(x)

float

In [197]:
say_what=('say',' what', 'you', 'will')
say_what[-1]

'will'

In [199]:
A=(1,2,3,4,5)
A[1:4]

(2, 3, 4)

In [200]:
A=(1,2,3,4,5)
len(A)

5

In [201]:
B=[1,2,[3,'a'],[4,'b']]
B[3][1]

'b'

In [202]:
[1,2,3]+[1,1,1]

[1, 2, 3, 1, 1, 1]

In [206]:
A = [1]
A.append([2,3,4,5])

# now A will be 2 since append only adds one element to the list

In [209]:
"Hello Mike".split()

['Hello', 'Mike']

In [210]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [211]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [212]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [213]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [214]:
# List slicing

L[3:5]

['MJ', 1]

In [215]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [216]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [217]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [218]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [219]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [220]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [221]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [222]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [223]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [224]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [225]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [226]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

In [232]:
# Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
a_list = [1, "hello", [1,2,3], True]
a_list

[1, 'hello', [1, 2, 3], True]

In [233]:
# Find the value stored at index 1 of a_list.

print(a_list[1])

hello

In [237]:
# Retrieve the elements stored at index 1, 2 and 3 of a_list.
print(a_list[1:4])

['hello', [1, 2, 3], True]

In [238]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
A = [1, 'a'] 
B = [2, 1, 'd']
A+B

[1, 'a', 2, 1, 'd']

In [239]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [240]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [241]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [242]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [243]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [245]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [244]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

In [247]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [248]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [249]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [250]:
# Get the length of tuple

len(tuple2)

5

In [251]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [252]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [253]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [254]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [255]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [256]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [257]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [258]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [259]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [263]:
# Find the length of the tuple, genres_tuple:
len(genres_tuple)

8

In [265]:
# Access the element, with respect to index 3:
genres_tuple[3]

'hard rock'

In [271]:
# Use slicing to obtain indexes 3, 4 and 5:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [272]:
# Find the first two elements of the tuple genres_tuple:
genres_tuple[0:2]

('pop', 'rock')

In [273]:
# Find the first index of "disco":
genres_tuple.index("disco")

7

In [274]:
# Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):

In [275]:
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]